<div #RootLayout id="Add_Expense_RootLayout">
    <div id="Cancle" *ngIf="IsShowExpense">
        <button (click)="ClosePage()">X</button>
    </div>
    <div id="Layout" *ngIf="IsShowExpense">
        <div id="date">
            <span id="year">
                {{dateNow | date:'yyyy'}}
            </span>
            <span id="month" (click)="DateClick(datePicker)">
                {{dateNow | date:'MM-dd'}}
            </span>
            <input #datePicker type="date">
        </div>
        <div id="icon">
            <button (click)="IconButtonClick()">
                <i [class]="IconText"></i>
            </button>
            
        </div>
        <div id="name">
            <input type="text" placeholder="品項名稱" [value]="NameText" (click)="InputClick($event)">
        </div>
        <div id="price">
            <input type="text" placeholder="價格" [value]="PriceText" (click)="InputClick($event)">
        </div>
        <div id="remark">
            <textarea placeholder="備註" [value]="RemarkText"></textarea>
        </div>
    </div>
    <div id="iconMenu" *ngIf="IsSelectingIcon">
        <div *ngFor="let item of IconList; index as i" 
        (mouseenter)="IconMouseEnter($event)" 
        (mouseleave)="IconMouseLeave($event)" 
        (click)="IconSelect($event)">
            <i class="{{item}}" [attr.custom_id]="i"></i>
        </div>
    </div>
    <div class="Action" id="AddExpense" *ngIf="IsShowAddButton">
        <img src="../../assets/AddExpense.png" 
        (mouseenter)="ButtonSrcChange($event, './assets/AddExpense_Press.png')"
        (mouseleave)="ButtonSrcChange($event, './assets/AddExpense.png')"
        (click)="AddExpense()">
    </div>
    <div class="Action" id="EditExpense" *ngIf="IsShowEditButton">
        <img src="../../assets/EditExpense.png" 
        (mouseenter)="ButtonSrcChange($event, './assets/EditExpense_Press.png')"
        (mouseleave)="ButtonSrcChange($event, './assets/EditExpense.png')"
        (click)="EditExpense()">
    </div>
</div>

