<div id="RootLayout">
  <div id="Div1">

    <div id="PageIcon">
      <img src="../assets/R.png">
    </div>

    <button class="Clickable" id="AccountingButton" (click)="AccountingButtonClick()">記帳</button>
    <button class="Clickable" id="AnalyzeButton" (click)="AnalyzeButtonClick()">統計</button>
    
    <div id="SearchArea" *ngIf="IsShowSearchExpense">
      <div id="Icon" (click)="SearchIconClick($event)">
        <i [class]="SearchIcon"></i>
      </div>

      <div id="iconMenu" *ngIf="IsSelectingIcon">
        <div *ngFor="let item of IconList" 
        (click)="IconSelect($event)">
            <i [class]="item"></i>
        </div>
      </div>

      <div id="SearchQuery">
        <input type="text" placeholder="請輸入關鍵字" (click)="SearchQueryClick($event)">
      </div>
    </div>

    <input id="DateFrom" #dateFrom type="date" [max]="DateFromMax" (change)="SetDateMinAndMax()">
    <input id="DateTo" #dateTo type="date" [min]="DateToMin" (change)="SetDateMinAndMax()">
    
    <img class="Clickable" id="SearchButton" src="../assets/Magnifier.png" (click)="SearchButtonClick()">
  </div>
  
  <div id="Div2">
    <app-accounting-page *ngIf="IsShowAccountingPage"></app-accounting-page>
    <app-analyze-page *ngIf="IsShowAnalyzePage"></app-analyze-page>
  </div>
</div>


<!-- <mat-form-field class="example-form-field">
  <mat-label>First campaign</mat-label>
  <mat-date-range-input
    [rangePicker]="campaignOnePicker">
    <input matStartDate placeholder="Start date" formControlName="start">
    <input matEndDate placeholder="End date" formControlName="end">
  </mat-date-range-input>
  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
  <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
</mat-form-field> -->
