<div id="Div1">
  <div id="Div1_1">
    <div id="Div1_1_1">
      <img src="../assets/R.png">
    </div>
    <div id="Div1_1_2">
      <p>MyAccountingApp</p>
    </div>
  </div>
  <div id="Div1_2">
    <button>記帳</button>
    <button>統計</button>
    <button>查詢</button>
  </div>
</div>

<div id="Div2">
  <div id="Div2_1">
    <input #dateFrom type="date" [max]="DateFromMax" (change)="SetDateMinAndMax()">
    <span>~</span>
    <input #dateTo type="date" [min]="DateToMin" (change)="SetDateMinAndMax()">
  </div>
  <div id="Div2_2">
    <div id="PayListUL">
      <ul>
        <li *ngFor="let item of databaseApi.ExpensesList; index as i" id="list{{i}}">
          <i class="fa-regular fa-square" (click)="ListCheckClick($event)"></i>
          <span (click)="EditExpenseClick($event)">{{item.date | date:'MM/dd'}}</span>
          <i [(class)]="item.icon" (click)="EditExpenseClick($event)"></i>
          <span (click)="EditExpenseClick($event)">{{item.name}}</span>
          <span (click)="EditExpenseClick($event)">{{item.money}}</span>
          <span (click)="EditExpenseClick($event)">{{item.remark}}</span>
          <span (click)="EditExpenseClick($event)">{{item.id}}</span>
        </li>
      </ul>
      <app-add-expense-page></app-add-expense-page>

      <img class="Clickable" id="TrashCan" *ngIf="IsShowTrashCan" src="../assets/TrashCan.png" 
      (mouseenter)="ButtonSrcChange($event, '../assets/TrashCan_Press.png')" 
      (mouseleave)="ButtonSrcChange($event, '../assets/TrashCan.png')"
      (click)="TrashCan_MouseClick()">

      <img class="Clickable" id="AddExpense" *ngIf="IsShowAddExpense" src="../../assets/AddExpense.png" 
      (mouseenter)="ButtonSrcChange($event, './assets/AddExpense_Press.png')"
      (mouseleave)="ButtonSrcChange($event, './assets/AddExpense.png')"
      (click)="AddExpenseClick()">

    </div>
    <div id="Total">
      <span></span>
      <span>總額：</span>
      <span>{{databaseApi.TotalPrice}}</span>
    </div>
  </div>
</div>
