<div id="Div1">
  <div id="Div1_1">
    <div id="Div1_1_1">
      <img src="../assets/R.png">
    </div>
    <div id="Div1_1_2">
      <p>MyAccountingApp</p>
    </div>
  </div>
  <div id="Div1_2">
    <button>記帳</button>
    <button>統計</button>
    <button>查詢</button>
  </div>
</div>

<div id="Div2">
  <div id="Div2_1">
    <input type="date">
    <span>~</span>
    <input type="date">
  </div>
  <div id="Div2_2">
    <div id="PayListUL">
      <ul>
        <li *ngFor="let item of databaseApi.ExpensesList;">
          <span>{{item.date | date:'MM/dd'}}</span>
          <i [(class)]="item.icon"></i>
          <span>{{item.name}}</span>
          <span>{{item.money}}</span>
          <span>{{item.remark}}</span>
        </li>
      </ul>
      <app-add-expense-page></app-add-expense-page>
      <!-- <div id="AddExpense">
        <img src="../assets/AddExpense.png" 
        (mouseenter)="AddExpense_Enter($event)"
        (mouseleave)="AddExpense_Leave($event)"
        (click)="AddExpense_Click($event)">
      </div> -->
    </div>
    <div id="Total">
      <span></span>
      <span>總額：</span>
      <span>{{databaseApi.TotalPrice}}</span>
    </div>
  </div>
</div>
