.Clickable
{
    cursor: pointer;
}

#RootLayout
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "Div1" "Div2";
}

#Div1
{
    grid-area: Div1;
    display: grid;
    background-color: #fcfbe1;
    grid-template-columns: 100px 100px 100px auto 510px 100px 100px 100px;
    // grid-template-columns: auto;
    grid-template-areas: "Div1_Item1 Div1_Item2 Div1_Item3 . Div1_Item4 Div1_Item5 Div1_Item6 Div1_Item7";
    border-bottom: 1px solid black;
}

#PageIcon
{
    grid-area: Div1_Item1;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#PageIcon>img
{
    width: 50%;
}

#AccountingButton
{
    grid-area: Div1_Item2;
}

#AnalyzeButton
{
    grid-area: Div1_Item3;
}

#SearchArea
{
    grid-area: Div1_Item4;
}

#DateFrom
{
    grid-area: Div1_Item5;

}

#DateTo
{
    grid-area: Div1_Item6;
}

#Div1>*:nth-child(n+2)
{
    height: 50px;
    align-self: end;
}

#SearchButton
{
    grid-area: Div1_Item7;
    justify-self: center;
}

#Div1>button
{
    font-size: 30px;
    width: 100px;
}

#SearchButton:hover
{
    animation-name: Shake;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes Shake
{
    50%
    {
        transform: rotate(30deg);
    }
    100%
    {
        transform: rotate(0deg);
    }

}

#SearchArea
{
    // position: absolute;
    display: flex;
    height: 70px;
    width: 500px;
    // right: 65px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 5% / 50%;
}

#SearchArea>#Icon
{
    display: flex;
    height: 100%;
    width: 20%;
    border-right: 1px solid #000000;
    margin-left: 5%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#SearchArea>#Icon:hover
{
    background-color: #cbcbcb;
    cursor: pointer;
}

#Icon>i
{
    font-size: 40px;
}

#iconMenu
{
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 140px;
    background-color: white;
    border: 2px solid black;
    overflow-y: scroll;
    // display: flex;
    // flex-wrap: wrap;
}

#iconMenu>div
{
    width: 20%;
    height: 20%;
    justify-content: center;
    align-content: center;
    padding: 5% 2.5%;
    background-color: white;
    display: inline-block;
}

#iconMenu>div:hover
{
    background-color: gray;
}

#iconMenu>div>i
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 200%;
}

#SearchArea>#SearchQuery
{
    height: 100%;
    width: 70%;
}

#SearchQuery>input
{
    width: 100%;
    height: 97%;
    border: 0;
    font-size: 30px;
    text-wrap: nowrap;
}

#Div2
{
    grid-area: Div2;
    // width: 100%;
    // height: 100%;
    // overflow-y: hidden;
    background-color: #fcfbe1;
}

// #Div2>*
// {
//     display: block;
//     width: 100%;
//     height: 100%;
// }

// #Div2_1>input:nth-child(1)
// {
//     margin: 30px 25%;
//     display: block;
// }

// #Div2_1>span
// {
//     margin-left: 33%;
//     font-size: 50px;
//     display: inline-block;
// }

// #Div2_1>input:nth-child(3)
// {
//     margin: 30px 25%;
//     display: block;
// }

// #Div2_2
// {
//     width: 75%; 
//     font-size: 30px;
//     border: 1px solid #909090;
// }

// mat-form-field
// {
//     background-color: white;
//     margin: 0 8px 16px 0;
// }