.Clickable
{
    cursor: pointer;
}

#Div1
{
    display: flex;
    height: 20%;
    background-color: #fcfbe1;
}

#Div1_1
{
    display: flex; 
    width: 25%; 
    align-content: center;
    justify-content: center;
}

#Div1_1_1
{
    width: 20%;
    align-content: center;
}

#Div1_1_1>img
{
    width: 100%;
}

#Div1_1_2
{
    width: 50%;
    align-content: center;
}

#Div1_1_2>p
{
    font-size:30px;
    overflow:visible;
    overflow-wrap: break-word;
}

#Div1_2
{
    width: 75%; 
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}

#Div1_2>button
{
    font-size: 30px;
}

#Div1_2>#SearchButton
{
    height: 50px;
    margin-left: auto;
    margin-right: 10px;
}

#Div1_2>#SearchButton:hover
{
    animation-name: Shake;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
}

@keyframes Shake
{
    50%
    {
        transform: rotate(30deg);
    }
    100%
    {
        transform: rotate(0deg);
    }

}

#SearchArea
{
    position: absolute;
    display: flex;
    height: 70px;
    width: 600px;
    right: 65px;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-radius: 5% / 50%;
}

#SearchArea>#Icon
{
    display: flex;
    height: 100%;
    width: 20%;
    border-right: 1px solid #000000;
    margin-left: 5%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#SearchArea>#Icon:hover
{
    background-color: #cbcbcb;
    cursor: pointer;
}

#Icon>i
{
    font-size: 40px;
}

#iconMenu
{
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 140px;
    background-color: white;
    border: 2px solid black;
    overflow-y: scroll;
    // display: flex;
    // flex-wrap: wrap;
}

#iconMenu>div
{
    width: 20%;
    height: 20%;
    justify-content: center;
    align-content: center;
    padding: 5% 2.5%;
    background-color: white;
    display: inline-block;
}

#iconMenu>div:hover
{
    background-color: gray;
}

#iconMenu>div>i
{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 200%;
}

#SearchArea>#SearchQuery
{
    height: 100%;
    width: 70%;
}

#SearchQuery>input
{
    width: 100%;
    height: 97%;
    border: 0;
    font-size: 30px;
    text-wrap: nowrap;
}

#Div2
{
    display: flex;
    height: 80%;
    background-color: #fcfbe1;
}

#Div2_1
{
    width: 25%; 
}

#Div2_1>input:nth-child(1)
{
    margin: 30px 25%;
    display: block;
}

#Div2_1>span
{
    margin-left: 33%;
    font-size: 50px;
    display: inline-block;
    transform: rotate(90deg);
}

#Div2_1>input:nth-child(3)
{
    margin: 30px 25%;
    display: block;
}

#Div2_2
{
    width: 75%; 
    font-size: 30px;
    border: 1px solid #909090;
}
