.Clickable
{
    cursor: pointer;
}

#Accounting_RootLayout
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 90% 10%;
    grid-template-areas: "Accounting_Item1" "Accounting_Item2";
}

#PayListUL
{
    // height: 90%;
    // max-height: calc((100% - 100px)*0.9);
    overflow-y:auto;
    // position: relative;
    grid-area: Accounting_Item1;
}

#PayListUL>ul
{
    margin: 0;
    padding: 0;
}

#PayListUL>ul>li
{
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

#PayListUL>ul>li>*
{
    font-size: 30px;
    text-align: center;
    align-content: center;
}

#PayListUL>ul>li>*:nth-child(1)
{
    width: 5%;
    color: #353b46;
    cursor: pointer;
}

#PayListUL>ul>li>*:nth-child(2)
{
    width: 10%;
}

#PayListUL>ul>li>*:nth-child(3)
{
    width: 5%;
}

#PayListUL>ul>li>*:nth-child(4)
{
    width: 35%;
}

#PayListUL>ul>li>*:nth-child(5)
{
    width: 10%;
}

#PayListUL>ul>li>*:nth-child(6)
{
    width: 35%;
}

#PayListUL>ul>li>*:nth-child(7)
{
    display: none;
}

#PayListUL li:nth-child(odd)
{
    background-color: #fffd9d;
}

#Total
{
    // height: 10%;
    display: flex;
    align-items: center;
    background-color: #ffcb3b;
    grid-area: Accounting_Item2;
}

#Total span:nth-child(1)
{
    width: 40%;
}

#Total span:nth-child(2)
{
    width: 16%;
}

#Total span:nth-child(3)
{
    width: 10%;
    text-align: center;
}

#Accounting_Action
{
    position: absolute;
    width: 80px;
    height: 80px;
    right: 110px;
    bottom: 10%;
}

.Accounting_Icon
{
    padding: 0;
    margin: 0;
    width: 100%;
}

// #TrashCan
// {
//     position: absolute;
//     width: 80px;
//     right: 110px;
//     bottom: 5px;
// }

// #AddExpense
// {
//     position: absolute;
//     width: 80px;
//     right: 110px;
//     bottom: 5px;
// }