<div id="Layout">
    <div id="date">
        <span id="year">
            {{dateToday | date:'yyyy'}}
        </span>
        <span id="month" (click)="dateClick(datePicker)">
            {{dateToday | date:'MM-dd'}}
        </span>
        <input #datePicker type="date">
    </div>
    <div id="icon">
        <button>
            <i class="fa-solid fa-pizza-slice"></i>
        </button>
    </div>
    <div id="name">
        <input type="text" placeholder="品項名稱">
    </div>
    <div id="price">
        <input type="text" placeholder="價格">
    </div>
    <div id="remark">
        <!-- <input type="text"> -->
        <textarea placeholder="備註"></textarea>
    </div>
</div>