<div id="Layout">
    <div id="date">
        <span>
            {{dateToday | date:'MM/dd'}}
        </span>
    </div>
    <div id="icon">
        <button>
            <i class="fa-solid fa-pizza-slice"></i>
        </button>
    </div>
    <div id="name">
        <input type="text" placeholder="品項名稱">
    </div>
    <div id="price">
        <input type="text" placeholder="價格">
    </div>
    <div id="mark">
        <!-- <input type="text"> -->
        <textarea placeholder="備註"></textarea>
    </div>
</div>