#RootLayout
{
    width: 100%;
    height: 100%;
    display: flex;
}

#PieChart
{
    width: 50%;
    height: 100%;
}

#Ring
{
    width: 200px;
    height: 200px;
}

#DataList
{
    width: 50%;
    height: 100%;
}