<div id="RootLayout">
    <div id="PieChart">
        <canvas baseChart
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend"
        [width]="400"
        [height]="400"
        (chartClick)="ButtonClick($event)">
        </canvas>
    </div>

    <div id="DataList">
        <ul>
            <li *ngFor="let item of sortExpenseList">
                <span>{{item.date | date:'MM/dd'}}</span>
                <i [(class)]="item.icon"></i>
                <span>{{item.name}}</span>
                <span>{{item.money}}</span>
                <span>{{item.remark}}</span>
                <!-- <span>{{item.id}}</span> -->
            </li>
        </ul>
    </div>
</div>
